.Post{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Post__Img{
    position: relative;
}

.Post_Txt{
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    font-size: 2vw;
    color: white;
    font-weight: bold;

}